.div1{
   text-align: center;
   margin: 200px 0px 100px ;
}
.button{
   height: 45px;
   background-color: white;
   border-radius: 5%;
   padding: 15px;
}
#button1{
   width: 300px;
}
#button2{
   width: 180px;
}
.div2{
   position: relative; 
   width: 1400px;
   height: 100%;
   margin: 30px;
 
}

*{
   margin:0;
   padding:0;
   font-family: 'poppins',sans-serif;
   box-sizing: border-box;
}
footer{
   display: block;
   padding: 6vw;
   width: 100%;
   box-sizing: border-box;
   position: relative;
   z-index: 100;
   overflow: hidden;
}

.leftfooter{
   float: left;
   display: block;
   letter-spacing: .03em;
   width: 70%;
}

.rightfooter{
   
}

.contentoffooter{
   width: 100%;
   display: block;
   letter-spacing: .03em;
   content: "";
   display: table;
   clear: both;
}

.contact{
   width: 50%;
   float: left;
   display: block;
   margin-left:10px ;
   padding-left: 17px;
   padding-right: 17px;
   clear: none;
   position: relative;
   height: auto;
}
.pcontact{
   text-align: center;
  line-height: 30px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   text-size-adjust: 20;
}
.nameofwebsite{
   text-align: center;
}
.icon{
   width: 24px;
   height: 24px;
}

.socialaccounts{
  margin: 0 auto;
}
.designedby{
   padding-bottom: 17px;
   padding-left: 17px;
   padding-right: 17px;
   padding-top: 17px;
   position: relative;
   height: auto;

}
.designed{
   text-align: center;
   word-wrap: break-word;
   padding-left: 50%;
}
.images{
   width: 24px;
   height: 24px;
  
}

.header {
   background-color:rgb(225, 217, 217); 
   padding: 100px 200px;
  
  
}
.logo {
   display: inline-block;
   position: absolute;
   left: 5%;
   top: 10%;
   width: 150px;
   height: 100px;
  } 
  * {box-sizing: border-box;}
  .a {
        
   float: right;
   color: black;
   padding: 7px;
   text-align: center;
   text-decoration: none;
   font-size: 14px; 
   line-height: 25px;
   border-radius: 4px;
   font-family: calluna ;
   font-weight: 600;
   font-style: normal; 
   position: relative; 
  
 }
 
 .rightheader{
   right: 5%;
   top: 5%;
   float: right;

 }
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   
   .right header {
     float: none;
   }
}